
.SavedWordsPage{
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 1000px;
  margin: 30px auto 40px auto;
  height: 650px;

}

.SavedWordsContainer {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 610px; 
    overflow: auto;
  }
  .SavedWordsContainer::-webkit-scrollbar {
    display: none;
  }
  
  .SavedWordsList {
    list-style-type: none;
    padding: 0;
  }
  
  .SavedWordItem {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
  }
  
  .SavedWordItem strong {
    color: #3498db;
    cursor: pointer;
  }

  